body{
    background-color: rgb(42, 14, 119)
}

.game-tittle{
    font-family: 'Luckiest Guy', cursive;
    font-size: 80px;
    -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color: black;
    color: rgb(255, 153, 51);
}

.box{
    letter-spacing: 20px;
}

tbody tr :first-child{
    letter-spacing: 20px;
    background-color: cadetblue;
}

.error{
    color: crimson;
    height: bold;
}

footer{
    background-color: rgba(255, 255, 255, 0.144)
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.596); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

#text{
    position: absolute;
    top: 40%;
    left: 50%;
    font-size: 70px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

#new-game{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 30px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}