body {
    background: url('https://s3.amazonaws.com/makeitreal/cars/jaguar-xe.jpg') no-repeat 50%;
    background-size: cover;
  }

.text-container{
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    margin-left: 10%;
    margin-right: 10%;
    padding: 30px;
    background: rgba(0, 0, 0, 0.6);
    color:white; 
    border-radius: 5px;
    max-width: 600px;
    position: absolute;
    top: 70;
}


.btn-red{
    font-family: 'Roboto', sans-serif;
    font-weight:bold;
    color:white;
    border-radius: 5px;
    background: #DB3030;
    text-decoration: none;
    padding: 10px 20px;
}

