<br>
<div class="container">
    <table class="table table-striped">
    <tr>
        <th scope="col">Productos</th>
    </tr>
    <% @products.each do |product|%>
        <tr>
            <td scope="row"><%=product%></td>
        </tr>
    <% end %>
    </table>
</div>